/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
/* How to align the entire html body to the center; using flexbox */
body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  min-height: 100vh;
}

.container {
  /* border: 3px solid black; */
  /* background-color: yellow; */
  height: 25rem;
  /* width: 100rem; */
} 

/* .row {
  border: 3px dashed blue;
  text-align: center;
} */


/* .col {
  border: 3px dotted orange;
} */
