/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
/* How to align the entire html body to the center; using flexbox */
body {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  min-height: 100vh;
}

.container {
  /* border: 3px solid black; */
  /* background-color: yellow; */
  height: 25rem;
  /* width: 100rem; */
} 

/* .row {
  border: 3px dashed blue;
  text-align: center;
} */


/* .col {
  border: 3px dotted orange;
} */

.About-text {
  text-align: left;
}

.Work-header {
  text-align: left;
  margin-left: 4rem;
  margin-top: 1rem;
}

/* object-fit: cover (https://stackoverflow.com/questions/36965331/generate-a-square-thumbnail-image-regardless-the-image-ratio) */
.Work-image {
  width: 139px;
  height: 139px;
  object-fit: cover;
}